<div class='main'>
  <h1 class='heading'>Today's Dog Pix</h1>
  <div class='dogs'>
    <% @dogs.doggies.in_groups_of(5) do |dog1, dog2, dog3, dog4, dog5| %>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 12rem;">
              <img class="card-img-top" src="<%= dog1.url %>" alt="Doggo img">
              <div class="card-body">
                <p class="card-text"><%= link_to "Save", favorites_path(dog1.url) %></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 12rem;">
              <img class="card-img-top" src="<%= dog2.url %>" alt="Doggo img">
              <div class="card-body">
                <p class="card-text"><%= link_to "Save", favorites_path(dog2.url) %></p>
              </div>
            </div>
          </div>

        <div class="col">
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="<%= dog3.url %>" alt="Doggo image">
            <div class="card-body">
              <p class="card-text"><%= link_to "Save", favorites_path(dog3.url) %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="<%= dog4.url %>" alt="Doggo img">
            <div class="card-body">
              <p class="card-text"><%= link_to "Save", favorites_path(dog4.url) %></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 12rem;">
            <img class="card-img-top" src="<%= dog5.url %>" alt="Doggo img">
            <div class="card-body">
              <p class="card-text"><%= link_to "Save", favorites_path(url: "#{dog5.url}") %></p>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  </div>
</div>


  </div>
</div>